---
import Navbar from "../components/footer.astro";
import BaseStyle from "../layouts/BaseStyle.astro";

let contact = {
    email: "miguellopezrivera[at]icloud[dot]com",
    company: "SHAW Data Security",
    companyWebsite: "https://www.shawdatasecurity.com",
    linkedin: "https://www.linkedin.com/in/mlopezrivera/",
};
---

<html lang="en">
    <BaseStyle />

    <body>
        <main>
            <h3>Let's chat</h3>
            <p>
                Reach out to me at <u>{contact.email}</u>.
            </p>
            <p>
                I'm currently working at <a href={contact.companyWebsite}
                    >{contact.company}</a
                >.
            </p>

            <p>Connect on <a href={contact.linkedin}>LinkedIn</a></p>
        </main>
    </body>
</html>
