---
import Navbar from "../components/navbar.astro";
import BaseStyle from "../layouts/BaseStyle.astro";

let contact = {
  email: "miguellopezrivera[at]icloud[dot]com",
  company: "SHAW Data Security",
  linkedin: "https://www.linkedin.com/in/mlopezrivera/",
};
---

<html lang="en">
  <BaseStyle />
  <h1>Let's chat</h1>
  <body>
    <p>
      Reach out to me at <u>{contact.email}</u>.
    </p>
    <p>
      I'm currently working at {contact.company}.
    </p>

    <p>Connect on <a href={contact.linkedin}>LinkedIn</a></p>
  </body>

  <Navbar />
</html>
