---
import BaseStyle from "../layouts/BaseStyle.astro";
import Navbar from "../components/navbar.astro";
const name = "Miguel Lopez Rivera";
---

<html lang="en">
  <BaseStyle />
  <h1>{name}</h1>
  <body>
    <p>Hi there! I'm a software engineer and ServiceNow developer.</p>
  </body>

  <Navbar />
</html>
