---
import BaseStyle from "../layouts/BaseStyle.astro";
---

<html lang="en">
  <BaseStyle />

  <body>
    <main>
      <p>Hi there! I'm a software engineer and ServiceNow developer.</p>
      <a href="/blog/godfather">Here's my latest blog post</a>
    </main>
  </body>
</html>
