---
import BaseStyle from "../layouts/BaseStyle.astro";
import Navbar from "../components/footer.astro";
const name = "Miguel Lopez Rivera";
---

<html lang="en">
  <BaseStyle />
  <body>
    <main>
      <h1>{name}</h1>
      <p>Hi there! I'm a software engineer and ServiceNow developer.</p>
    </main>

    <footer><Navbar /></footer>
  </body>
</html>
